.footer{
    background-color: $color-light-black;
    position: relative;
}
.footer-box{
    display: flex;
  //  height: 15rem;
    width: auto;
    padding-bottom: 5rem;
    @include respond(phone){
        flex-direction: column;
     }
   

    &-text-paragraph{
        margin-top: 5rem;
        width: 65%;
        @include respond(phone){
            width: 90%;
         }
    }

    &-menu{
        margin-top: 4.5rem;
        width: 40%;
        display: flex;
        justify-content: flex-end;
        @include respond(phone){
            width: 90%;
            justify-content: center;
         }
    }
}

.copyright_text{
    position: absolute;
    bottom: 3rem;
    right: 10rem;
    @include respond(phone){
        bottom: 10%;
        right: 45%;
        transform: translateX(-50%,-50%);;
     }
}