.main_header{
    height: 13rem;
    width: 100%;
    background-color: $color-primary;
}
.menu_list{
    display: flex;
    justify-content: left;
    //margin-left: 10rem;
    width: 71rem;
    font-size: 1.4rem;
    &_items{
        flex-wrap: wrap;
        margin-top: 2rem;
        list-style: none;
        font-size: inherit;
        color: $color-white;
       
        &-btn{
            font-size: inherit;
            text-decoration: none;
            text-transform: uppercase;
            color: inherit;
            margin-right: 1rem;
            &:hover{
                color: $color-black;
            }
        }
    }
    &_main-items{
        margin-right: 2rem;
        font-size: 1.6rem;
        list-style:none;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
    }
}