.container{
    display: flex;
    align-content: center;
    background-color: $color-primary;
    height: 70rem;
    width: auto;
}
.web_development-container{
    margin-left: 10rem;
    width: 20%;
    height: 50rem;
   // background-color: orangered; for testing
    &-heading{
        padding-top: 10rem;
    }
    &-paragraph{
        padding-top: 2rem;
        padding-right: 9rem;
    }
}
.wireframe-container{
    width: 70%;
   // background-color: orangered; for testing
    margin-left: 10rem;
    padding-top: 10rem;
    //display: flex;

  
    &-heading{
        margin-left: 5rem;

    }
    &-paragraph{
        padding-top: 2rem;
        margin-left: 5rem;
    }
    &-itembox{
        margin-top: 5rem;
        background-color: $color-white;
        height: 70%;
        width: 90%;
        &-box{
            display: flex;
        }
        &-rightbox{
            width: 40rem;
        }
        &-leftbox{
            width:60rem;
        }
        &-heading{
            padding-top: 5rem;
        }
        &-paragraph{
            padding-top: 1.5rem;
        }
    }
}
