.container{
    display: flex;
    align-content: center;
    background-color: $color-primary;
    height: auto;
    width: auto;
    padding-bottom: 5rem;
    @include respond(phone){
        flex-direction: column;
    }
}
.web_development-container{
    margin-left: 10rem;
    width: 20%;
    height: 50rem;
    @include respond(phone){
        width: 90%;
        height: auto;
        paddind-bottom: 2rem;
    }
   // background-color: orangered; for testing
    &-heading{
        padding-top: 10rem;
    }
    &-paragraph{
        padding-top: 2rem;
        padding-right: 9rem;
        @include respond(big-laptop) { // width < 1200?
            padding-right: 0;
        }
    }
}
.wireframe-container{
    width: 70%;
   // background-color: orangered; for testing
    margin-left: 10rem;
    padding-top: 10rem;
    //display: flex;
    @include respond(phone){
        width: 90%;
        height: auto;
        paddind-bottom: 2rem ;
    }
  
    &-heading{
        margin-left: 5rem;
        @include respond(phone){
        margin-left: 0rem;
        }

    }
    &-paragraph{
        padding-top: 2rem;
        margin-left: 5rem;
        @include respond(phone){
            margin-left: 0rem;
            }
    }
    &-itembox{
        margin-top: 3rem;
        background-color: $color-white;
        height: auto;
        padding-bottom: 4rem;
        width: 90%;
        &-box{
            display: flex;
            @include respond(phone){
            flex-direction: column;
            padding-bottom: 3rem;
            }
        }
        &-rightbox{
            width: 40rem;
        }
        &-leftbox{
            width:60rem;
        }
        &-heading{
            padding-top: 5rem;
        }
        &-paragraph{
            padding-top: 1.5rem;
        }
    }
}
