.dropdown-menu{
    //display: none;
    position: absolute;
    right: 23rem;
    top:5rem;
    width: auto;
    background-color: $color-medium-black;
    padding: 3rem 10rem 1rem 2rem;
    &-list{
        list-style:none;
        &-items{
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 800;
            margin-bottom: 1rem;
        }
  
    }
}