.dropdown-menu-list{
    //display: none;
    transition: all 0.2s ease-in;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 21rem;
    width: auto;
    background-color: $color-medium-black;
    text-decoration: none;
    list-style:none;
   
        &-items{
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            list-style:none;
            font-size: 1.2rem;
            font-weight: 800;
            padding: 1rem 10rem 1rem 2rem;
            margin-bottom: 1rem;
            &:hover{
                background-color: #fff;
                color: $color-medium-black;
            }    
        }
        &-btn{
            text-decoration: none;
            list-style:none;
            color: inherit;
        }
        
    }

    .dropdown-menu {
        
        &:hover{
            .dropdown-menu-list{
                opacity: 100%;
                pointer-events: initial;
            }
        }
       
    }