.welcome_box{
    position: relative;
    height: 70rem;
    width: 37rem;
    background-color: $color-primary;
    overflow: hidden;
    @include respond(phone){
        width: 90%;
        height: 40rem;
        margin: 3rem;
        margin-left: 0;
    }
    &-heading{
        padding-top: 4rem;
        padding-left: 5rem;
    }
    &-paragraph{
        padding: 3rem 12rem 0rem 5rem
    }
    &-border-btn{
        position: absolute;
        right: 5rem ;
        bottom: 7rem;
        
    }
    &-dvdr{
        padding-top: 2rem;
        padding-left: 5rem;
        width: 12rem;
        height: 3rem;
    }
}