//Chnage most of this to function sna d mixins
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-white;
}
.logo-text{
    display: inline-block;
    font-size: 3.1rem;
    text-transform: uppercase;
}
.welcome_box{
    &-heading{
        font-size: 4.7rem;
        color: $color-white;
        text-transform: uppercase;
        font-weight: 800;
        @include respond(tab-land) { // width < 1200?
            font-size: 4.1rem; 
        }
    
        @include respond(tab-port) { // width < 900?
            font-size: 3.7rem; 
        }
    }
    &-paragraph{
        font-size: 1.7rem;
        color: $color-white;
        font-weight: 400;
    }
}
.image_box{
    color: $color-black;
    &-heading{
        font-size: 2.1rem;
        font-weight: 800;
        text-transform: uppercase;
        @include respond(tab-land) { // width < 1200?
            font-size: 1.9rem; 
        }
    
        @include respond(tab-port) { // width < 900?
            font-size: 1.7rem; 
        }
    }
    &-paragraph{
        font-size: 1.9rem;
        font-weight: 400;
        @include respond(tab-land) { // width < 1200?
            font-size: 1.7rem; 
        }
    
        @include respond(tab-port) { // width < 900?
            font-size: 1.5rem; 
        }
    }
  
}
.web_development-container{
    &-heading{
        font-size: 1.9rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    &-paragraph{
        font-size: 1.7rem;
        font-weight: 400;
        @include respond(big-laptop) { // width < 1200?
            font-size: 1.3rem; 
        }
        @include respond(tab-land) { // width < 1200?
            font-size: 1.1rem; 
        }
    
        @include respond(tab-port) { // width < 900?
            font-size: 0.9rem; 
        } 
    }
   
}
.wireframe-container{
    &-heading{
        font-size: 1.9rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    &-paragraph{
        font-size: 1.7rem;
        font-weight: 400;
    }
}
.contact-form-container{
    color: $color-black;
    &-heading{
        font-size: 4.7rem;
        font-weight: 800;
        text-transform: uppercase;
    }
    &-paragraph{
        font-size: 1.8rem;
        font-weight: 400;
    }
}
.contact-form-form{
    &-label{
        font-size: 1.7rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &-input{
        font-size:1.7rem;
        padding: 1rem;
        font-size: 400;
    }
}
.footer-main{
    &-items{
        list-style: none;
        margin-left: 2rem ;
        color: $color-white;
    }
    &-btn{
        font-size: 1.5rem;
        color: $color-white;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.footer-box-text-paragraph{
    font-size: 1.5rem;
    color: $color-white;
}
.copyright_text{
    font-size: 1.2rem;
    color: $color-white;
}
.copyright_text-logo-text{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.wireframe-container-itembox{
    &-heading{
        font-size: 1.6rem;
         color: $color-black;
         font-weight: 800;
    }
    &-paragraph{
        color: $color-black;
        font-size:1.7rem;
        font-weight: 400;
    }
}
.wireframe-container-itembox-list-items{
    list-style: none;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight:400;
    font-style: italic;
    color: $color-black;
    border-bottom: solid 2px $color-black;
}
.dropdown-menu-list-btn{
    text-decoration: none;
    color: $color-white;
}